/* Set the properties for the body */
body {
    /* Make sure there is no margin around the page */
    margin: 0;

    /* Set the font and set a fallback font */
    font-family: Verdana, serif;

    /* Set background */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(180deg, #2c4589, #05DBF2);
}

/* Set the properties for the navigation bar */
#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 8%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 28, 76, 0.25);
    position: absolute;
    top: 0;
}

/* Set the properties for the items for the navigation bar */
#navbar li {
    width: 92%;
    display: block;
    text-decoration: none;
}

/* Set the properties for the items of the navigation bar */
.navbar-item, #navbar li a {
    width: inherit;
    padding: 4%;
}

/* Set the properties for the logo item */
.logo {
    position: absolute;
    top: 0;
}

/* Set the properties for the profile icon */
.profile {
    position: absolute;
    bottom: 0;
}

/* Set the properties for the title class */
.title {
    font-size: 40pt;
    color: #05DBF2;
    text-align: center;
    margin-top: 0;
}

/* Set the properties for the flex container */
.flex-container {
    margin-left: 8%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: .7%;
}

/* Set a margin for all the items in the flex container */
#selection, #plot {
    margin: 5px;
}

/* Set the properties for the selection div */
#selection {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    padding: 2.5%;
    justify-content: space-between;
}

/* Give the sensor selection the right style */
#sensors {
    border-radius: 5px;
    border: none;
    padding: 2%;
}

/* Set the properties for the plot div */
#plot {
    display: block;
    border-radius: 10px;
    background-color: white;
    width: 70%;
    aspect-ratio: 16 / 10;
    padding-bottom: 1.5%;
}

/* Set the properties for the day selection */
#day_select {
    max-width: 100%;
    padding: 3.5%;
    background-color: white;
    border-radius: 10px;
    font-weight: bold;
}

/* Set the properties for the day input */
#day-input {
    margin-top: 0;
    border-radius: 10px;
    width: 15%;
}

/* Set properties for the flex row that contains the weather items */
.weather-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: auto;
    margin-left: 8%;
    margin-top: 1%;
}

/* Set the properties for the weather items */
.weather {
    display: flex;
    flex-wrap: nowrap;
    background-color: white;
    border-radius: 10px;
    padding: 1%;
    aspect-ratio: 1 / 1;
    width: 10%;
    height: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Make a row break item to start a new line of items for a flex row */
.break-row {
    display: none;
}

/* A class to have a vertical flex box */
.vertical {
    display: flex;
    flex-direction: column;
}

/* Set the properties for the div containing a table */
#table-div {
    display: flex;
    justify-content: center;
    background-color: white;
    width: fit-content;
    border-radius: 10px;
    margin: auto;
    padding: .5%;
}

/* Set the properties for the table */
#table {
    border: 2px solid black;
    overflow: scroll;
}

/* Set the properties for the table items */
#table th, #table td {
    border: 2px solid black;
    overflow: visible;
}

/* Scrollbar width */
::-webkit-scrollbar {
    width: 5px;
}

/* Scrollbar track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Scrollbar handle */
::-webkit-scrollbar-thumb {
    background: darkgray;
    box-shadow: inset 0 0 5px grey;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: darkgray;
}
