#e-mail{
    top: 51%;
}
#password{
    top: 74%;
}
#repeat_password{
    top: 98%;
}
#phone_number{
    top: 122%;
}

#profile_icon{
    top: 56%;
}
#key_icon{
    top: 79%;
}
#second_key_icon{
    top: 102%;
}

.confirm_btn {
    top: 158%;
}

#under_header{
    align-self: center;
    top:35.5%;
}

#secondary_text{
    left: 41%;
    top: 141%;
}

