form #e-mail{
    top: 110%;
}
form #password{
    top: 155%;
}
form #repeat_password{
    top: 200%;
}
form #phone_number{
    top: 245%;
}

#profile_icon{
    top: 116%;
}
#key_icon{
    top: 161%;
}
#second_key_icon{
    top: 206%;
}

form .confirm_btn {
    top: 320%;
}

#under_header{
    align-self: center;
    top:70%;
}

#secondary_text{
    left: 41%;
    top: 277%;
}


